#logo {
    max-height: 100%;
    width: auto;
  }
  html{
    scroll-behavior: smooth;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    list-style: none;
  }

  body{

margin: 0;
padding: 0;

  }
  
  p{
    font-size: 20px;
    font-weight: 450;
  }
  
  
  #scroll{
    position: absolute;
    height: 100px;
    width: 100px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
  }

  .content2 p span{
    color: coral;
    font-weight: bold;
  }
  
  #scroll img{
    width: 100px;
    transition: transform .1s;
    }
  
  #scroll img:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
    }
  
  
  
  nav {
      position: absolute;
      top: 0;
      right: 0;
      background: #fff;
      z-index: 2;
  }
  
  
  .nav_arrows{
    top: 60%;
    background-color: rgba(0, 0,0, 0);
  }
  
  
  .banner {
    width: 100%;
    position: relative;
    text-align: center;
    color:rgb(151, 203, 255);
  }
  .title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 300;
    font-size: 10px;
  }
  .nav2{
    position: absolute;
    top: 90%;
    width: 100%;
  }
  
  .slogan{ 
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;}
    
  
  .banner img {
    width: 100%;
  }
  
  .navbar input[type="checkbox"],
  .navbar .hamburger-lines {
    display: none;
  }
  .description, .description1,.description2{
    height: fit-content;
    width: 100%;
    padding-top: 64px;
  }
  
  .description h2,.description2 h2,.offers h2{
    
      text-align: center;
  }
  
  .description1 p{
      margin-top:20px;
      margin-left: 50%;
      transform: translateX(-50%);
      margin-bottom: 30px;
      position: absolute;
      text-align: justify;
  }
  
  .description p{
    margin-top:20px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
  }
  
  .offers{
      width: 100%;
      justify-content: center;
      text-align: center;
  }
  
  .offers .repeter{
      width: 100%;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      flex-direction:column;
    
   /* grid-template-rows: 250px;
    grid-template-columns: 200px 200px 200px 200px;
    grid-gap: 15px;*/
    
  }
  
  .offers .repeter .card{
      margin: auto;
      margin-bottom: 15px;
      width: 60%;
      height: 200px;
      border-radius: 10px;
      transition:transform .4s;
      display: flex;
    /*  background: linear-gradient(rgba(0,0,0,0), rgba(255, 255, 2, 0.3));*/
  }
  
  
  .offers .repeter .card:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1);
    cursor: pointer;
    
  }
  
  
  .offers .repeter .card .images{
      background-color: #13b174;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 5px 0 0 5px;
  }
  
  .offers .repeter .card .desc{
      background-color:coral;
      width: 100%;
      height: 50%;
      border-radius:0 5px 5px 0;
      overflow: hidden;
      text-align: left;
      padding: 10px;
  }
  .offers .repeter .card .images img{
      width: 100%;
  }
  
  .container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
    align-items: center;
  }
  
  .navbar {
    box-shadow: 0px 2.5px 5px 0px #aaa;
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    z-index: 100;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
  }
  
  .nav2container{
    justify-content: space-between;
    height: 64px;
    align-items: center;
  }
  
  .menu{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu li{
    list-style: none;
    margin-left: 1rem;
    font-size: 1.3rem;
  }
  
  .menu-items {
    order: 2;
    display: flex;
  }
  .logo {
    order: 1;
    font-size: 2.3rem;
  }
  
  .menu-items li {
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
  }
  
  .navbar a {
    color: #444;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
  }
  
  .navbar a:hover {
    color: #117964;
  }
  
  li a{
    text-decoration: none;
    border-radius: 5px;
    font-size: large;
    font-weight: 700;
    color: rgb(73, 73, 73);
  }
  
  li a:hover{
    background: #fff;
  
  }
  
  .services{
    width: 100%;
    justify-content: center;
    height: 500px;
    background-color: #000;
    margin: 0px;
  }
  
  .services .top{
    background-color: #f1f1f1;
    text-align: center;
  }
  
  .services .layers{
    width: 100%;
    height: 400px;
    background-color: #13b191;
    color: #fff;
    text-align: center;
    font-style: italic;
    font-size: x-large;
  }
  
  .services .layers .layer{
    width: 100%;
    height: 200px;
    display: flex;
  }
  
  .services .layers .layer .service1{
    height: 100%;
    width: 30%;
    align-content: center;
    background-color: #aaa;
  }
  
  .services .layers .layer .serviceimage1{
    height: 100%;
    width: 70%;
    left: 30%;
    align-content: center;
    background-color: #aaa;
    overflow: hidden;
  }
  
  .services .layers .layer .serviceimage1 img{
    height: 100%;
    width: 100%;
    
  }
  
  
  @media (max-width: 768px) {
    .navbar {
      opacity: 0.95;
    }
    
    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
      display: block;
    }
  
    .navbar-container {
      display: block;
      position: relative;
      height: 64px;
    }
  
    .navbar-container input[type="checkbox"] {
      position: absolute;
      display: block;
      height: 32px;
      width: 30px;
      top: 20px;
      right: 20px;
      z-index: 5;
      opacity: 0;
      cursor: pointer;
    }
  
    .navbar-container .hamburger-lines {
      display: block;
      height: 28px;
      width: 35px;
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    .navbar-container .hamburger-lines .line {
      display: block;
      height: 4px;
      width: 100%;
      border-radius: 10px;
      background: #333;
    }
  
    .navbar-container .hamburger-lines .line1 {
      transform-origin: 0% 0%;
      transition: transform 0.3s ease-in-out;
    }
  
    .navbar-container .hamburger-lines .line2 {
      transition: transform 0.2s ease-in-out;
    }
  
    .navbar-container .hamburger-lines .line3 {
      transform-origin: 0% 100%;
      transition: transform 0.3s ease-in-out;
    }
  
    .navbar .menu-items {
      padding-top: 100px;
      background: #fff;
      height: 100vh;
      max-width: 300px;
      transform: translate(-150%);
      display: flex;
      flex-direction: column;
      margin-left: -40px;
      padding-left: 40px;
      transition: transform 0.5s ease-in-out;
      box-shadow: 2.5px 0px 5px 0px #aaa;
      overflow: scroll;
    }
  
    .navbar .menu-items li {
      margin-bottom: 1.8rem;
      font-size: 1.1rem;
      font-weight: 500;
    }
  
    .logo {
      position: absolute;
      top: 3px;
      left: 15px;
      height: 100%;
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .menu-items {
      transform: translateX(0);
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
      transform: rotate(45deg);
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
      transform: scaleY(0);
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
      transform: rotate(-45deg);
    }
  
   
  }
  
  @media screen and (max-width:768px) {
  
    .banner .welcome p{
      font-size: 80px;
      font-weight: 700;
   }
  
    
  }
  
  @media screen and (max-width:1024px) {
    .banner .welcome p{
      font-size: 90px;
      font-weight: 700;
   }
  }
  
  
  @media screen and (max-width:768px) {
  
    .banner .welcome p{
      font-size: 80px;
      font-weight: 700;
   }
  
   .content2 .bio2{
    width: 100px;
    height: 100px;
    
  }
  
  .description, .description1{
    height: 45vh ;
    width: 100%;
    padding-top: 64px;
  }
  
  .offers .repeter .card{
    margin: 15px;
    width: 170px;
    height: 300px;
    border-radius: 10px;
    transition:transform .4s;
  /*  background: linear-gradient(rgba(0,0,0,0), rgba(255, 255, 2, 0.3));*/
  }
  
  .offers{
    margin-top: 20px;
  }
  
  .serveur{
    shape-outside: url(img/serveur.png);
  }
  
  .chapeau{
    shape-outside: url(img/formation3.png);
  }
  
  .engrais{
    shape-outside: url(img/engrais.webp);
  }
  
  .boeuf{
    shape-outside: url(img/du-boeuf.png);
  }
  
  .elec{
    shape-outside: url(img/electricite.png);
  }
  
  #logo {
    max-height: 90%;
    width: auto;
  }

  
  }
  @media screen and (max-width:425px){
    .description, .description1{
      height: 75vh ;
      width: 100%;
      padding-top: 64px;
    }
  
    .description2 .content2 p{
      margin-left: 0;
    }
  
    body .description2 {
      padding-left: 50px;
      padding-right: 50px;
      margin-bottom: 50px;}
  
      
  
      .logo {
        left: 50%;
        transform: translateX(-50%);
      }
  }
  
  @media screen and (max-width:375px) {
    
    .banner .welcome p{
      font-size: 70px;
    }
  
  }
  
  @media screen and (max-width:320px) {
    
    .banner .welcome p{
      font-size: 60px;
    }
  
    .content2 .bio2{
      width: 80px;
      height: 80px;
    }
  
    .banner .contentbox{
      
      bottom: 50%;
  
   }
  
  }
  
  /*
  @media (max-width: 500px) {
    .navbar-container input[type="checkbox"]:checked ~ .logo {
      display: none;
    }
  }*/
  
  .sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #aaa;
    overflow-x: hidden;
    padding-top: 70px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
    
  }
  
  .banner{
    position: relative;
    width: 100%;
     min-height: 100vh;
  }
  
  .banner .imgbox{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
  }
  
  .banner .imgbox img{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     object-fit: cover;
     opacity: 0;
     transition: 0.5s;
     background-position: center;
  }
  
  .banner .imgbox img.active{
     opacity: 1;
  }
  
  .controls{
     position: absolute;
     bottom: 0;
     transform: translateY(-50%);
     right: 50%;
     transform: translateX(50%);
     width: 80px;
     display: flex;
  }
  
  .controls li{
     position: relative;
     width: 80px;
     height: 80px;
     list-style: none;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     
  }
  
  .controls li:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
    }
  .controls li:before{
     content: '';
     position: absolute;
     width: 20px;
     height: 20px;
     border-left: 3px solid #111;
     border-bottom: 3px solid #111;
     transform: rotate(45deg);   
  }
  
  .controls li:nth-child(2):before{
     transform: rotate(225deg);  
  }
  
  .contentbox{
     position: absolute;
     bottom: 40%;
     left: 50%;
     transform: translateX(-50%);
     max-width: 700px;
  }
  
  .welcome{
     position: absolute;
     top: 70px;
    margin-left: 50%;
    transform: translateX(-50%);
     max-width: 700px;
     text-align: center;
  }
  
  .welcome p{
     text-align: center;
     color:#fff;
     font-size: 100px;
     font-weight: 800;
  }

  @font-face{
    font-family:"cuisine";
    src: url(fonts/Cuisine.ttf);
}


  .welcome p span{
    color: rgb(248, 164, 133);
    font-size: 70px;
    font-weight: 500;
    font-family: cuisine ;
 }
  
  .contentbox div{
     display: none;
     margin: auto;
  }
  
  .contentbox div.active{
     display: block;
     
    
     
  }
  .contentbox div h2 {
     color:#fff;
     font-size: 50px;
     text-align: center;
  }
  
  .contentbox div p{
     color:#fff;
     font-size: 1.1em;
     
  }
  .contentbox div a{
    color:#fff;
    font-size: 50px;
    text-align: center;
  }
  
  .bio{
    width: 180px;
    height: 180px;
    position: relative;
    left: 75%;
    transform: rotate(10deg);
    
  }
  
  .bio img{
    width: 100%;
    animation-duration: 3s;
    transform: rotate(10deg);
  }
  /*
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }*/
  .content1{
    display: flex;
  }
  .content2{
    position: relative;
    padding-top: 20px;
    width: 100%;
  }
  
  .content3{
    position: relative;
    padding-top: 20px;
    padding-left: 150px;
    padding-right: 150px;
    width: 100%;
  }
  
  .content2 p{
    text-align: justify;
    margin-left: 20%;
  }
  
  .content3 p{
    text-align: justify;
    
  }
  
  .content p{
    text-align: justify;
  }
  
  
  .bio2{
    height: 180px;
    width: 180px;
    float: right;
    
    shape-margin: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  
  }
  
  .description2{
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 100px;
  }
  
  a{
    text-decoration: none;
  }

  /* body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: consolas;
} */

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}

body {
    font-size: 15px;
    /* font-family: 'Poppins', sans-serif; */
    background-color: var(--veryLightGray);
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

h1:first-of-type {
    font-weight: var(--weight1);
    color: var(--varyDarkBlue);

}

h1:last-of-type {
    color: var(--varyDarkBlue);
}

@media (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
    }
}

/* .header {
    text-align: center;
    line-height: 0.8;
    margin-bottom: 50px;
    margin-top: 100px;
}

.header p {
    margin: 0 auto;
    line-height: 2;
    color: var(--grayishBlue);
} */


.box p {
    color: var(--grayishBlue);
    text-align: left;
    /* width: 70%;
    left: 30%; */
}

.box {
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: 20px;  
    transition: 0.5s;
    width: 50%;
    margin-left: 25%;
    /* transform: translateX(-50%); */
}

.cont{
  display: flex;
  width: 100%;
  height: 100%;
}

.box:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}

.box .cont img {
    bottom: 50%;
    max-width: 20%;
    transform: translateY(-30%);
}

@media (max-width: 450px) {
    .box {
        height: 200px;
    }
}

@media (max-width: 950px) and (min-width: 450px) {
    .box {
        text-align: center;
        width: 50%;
    }
}

.cyan {
    border-top: 3px solid coral;
}
.red {
    border-top: 3px solid coral;
}
.blue {
    border-top: 3px solid coral;
}
.orange {
    border-top: 3px solid coral;
}

h2 {
    color: var(--varyDarkBlue);
    font-weight: var(--weight3);
}


@media (min-width: 950px) {
    .row1-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .row2-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-down {
        position: relative;
        top: 150px;
    }
    .box {
        width: 20%;
        margin-left: 0;
        transform: translateX(0);
    }
    .header p {
        width: 30%;
    }

    .box img {
      float: right;
      max-width: 90%;
  }
    
}

#slider{
  width:80%;
  margin:0 auto;
  position:relative;
  overflow:hidden;
  box-shadow:2px 5px 10px rgba(0,0,0,0.4);;
}

.slide{
  width:100%;
  
  display:none;
  animation-name:fade;
  animation-duration:1s;
  
}
img{
 width:100%; 
}
@keyframes fade{
  from{opacity:0.5;}
  to{opacity:1;}
}

.controls{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  font-size:1.5em;
  padding:15px 10px;
  border-radius:5px;
  
}

.controls:hover{
  background:white;
  transition:0.3s;
}

.controls:active{
  color:grey;
}

#left-arrow{
  left:10px;
}

#right-arrow{
  right:10px;
}

#dots-con{
  
  text-align:center;
}
.dot{
  display:inline-block;
  background:grey;
  padding:8px;
  border-radius:50%;
  margin:10px 5px;
}

.active{
  background:crimson;
}

@media (max-width:576px){
  #slider{width:100%;
  
  }
  
  .controls{
    font-size:1em;
  }
  
  #dots-con{
    display:none;
  }
}

.contenu{
  margin-top: 15px;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.contenu .side{
    margin: 15px;
    width: 30%;
    height: 300px;
    border-radius: 10px;
    transition:transform .4s;
    background-color: #000;
    overflow: hidden;
    position: relative;
    text-align: center;
    align-items: center;
}

.side .img{
  width: 100%;
  position: relative;
}

.side .txt{
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  
  
}



.txt p{
  color: #fff;
  font-size: 40px;
  font-weight: 900;
}